
:root{
    --coloPrincipal:red;
    --AzulOscuro:black;
    --fuente:Verdana, Geneva, Tahoma, sans-serif;

    --tamañoCarta: 300px;


}






body{
    padding: 0;
    margin: 0;
    background-color: var(--AzulOscuro);
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contenido {
    width: 100%;
    height: 400px;
    background-color: var(--AzulOscuro);
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.card {
    width: var(--tamañoCarta);
    height: var(--tamañoCarta);
    margin: 10px;
    background-color: white;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card h3 {
    color: #9A031E;
    font-family:var(--fuente);
}

.card p {
    color: var(--coloPrincipal);
    font-family: var(--fuente);
}


.tittleCont {
    width: 100%;
    height: auto;
    text-align: center;
}

.titulo {
    color: white;
    font-family: var(--fuente);

}